<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.avid.avidaccountkitdemo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Facebook & Account Kit begin -->
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name"/>
        <!-- suppress AndroidDomInspection -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!-- suppress AndroidDomInspection -->
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/facebook_client_token"/>
        <!-- Facebook & Account Kit end -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.statistics.channel.ChannelProvider"
            android:authorities="${applicationId}_com.hola.a.provider" />

        <receiver android:name="com.statistics.channel.InstallReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="ly.avid.accountkit.ui.AvidAccountLoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:multiprocess="true"
            android:theme="@style/AvidAccountTransparentActivity"/>

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:multiprocess="true">
            <intent-filter>
                <!--Facebook AccountKit 邮件登录后点击“Open App”-->
                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:host="authorize"
                    android:scheme="@string/ak_facebook_app_id"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>